body{
    background-color: khaki;
}



h1{
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
h4{
    color:red;
}
img{
    height: 250px;
    width: 300px;
}